:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --green-0: #f1f5f0;
  --green-1: #b9cbb3;
  --green-2: #4c6444;
  --green-3: #102820;
  --green-4: #0c0f0a;
  --brown-0: #f7f2ee;
  --brown-1: #e7d8cb;
  --brown-2: #d7bda8;
  --brown-3: #c6a385;
  --brown-4: #b68962;
  --brown-5: #9d6f49;
  --brown-6: #7a5739;
  --brown-7: #573e28;
  --brown-8: #342518;
  --brown-9: #110c08;
  color-scheme: light dark;
  color: var(--brown-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--brown-0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style-type: circle;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brown-9);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row {
  margin: 30px 0px 30px 0px;
}

#calendar-icon {
  font-size: 24px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--brown-9);
    background-color: var(--brown-0);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--brown-2);
  }
}
