@import url("../index.css");

#userImage img {
    max-width: 50%;
    width: auto;
    height: auto;
    margin: 0 1rem 1rem 0;
}

@media (min-width: 768px) {
    #userImage img {
        max-width: 30%;
        width: auto;
        height: auto;
        margin: 0 2rem 1rem 0;
    }
  }