@import url("../../index.css");

.cloudinary-button,
.addArtwork {
    background-color: var(--brown-4);
    color: white;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    border: none;
    padding: 10px;
}

div > img {
    max-height: 200px;
}