@import url("../../index.css");

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--brown-9);
  color: var(--brown-5);
  /* padding: 10px; */
}

.navbar-expand {
  justify-content: center;
}

.offcanvas-header {
  background-color: var(--brown-8);
  color: var(--brown-3);
}

.offcanvas-body {
  background-color: var(--brown-7);
  color: var(--brown-2);
}
